:root {
  --bordure-claire: #888;
  --bordure-sombre: #eee;
}

::selection {
  color: white;
  background-color: red;
}

/* COLORS */
div.red, red, div.rouge, rouge, 
div.bred, bred, div.brouge, brouge {
  color:red;
}

div.blue, blue, div.bleu, bleu,
div.bblue, bblue, div.bblue, bbleu {
  color:blue;
}

div.purple, purple, div.violet, violet,
div.bpurple, bpurple, div.bviolet, bviolet {
  color:purple;
}

div.green, green, div.vert, vert,
div.bgreen, bgreen, div.bvert, bvert {
  color:green;
}

div.grey, grey, div.gris, gris,
div.bgrey, bgrey, div.bgris, bgris {
  color:#bbb;
  font-weight: 600;
}

div.black, black, div.noir, noir,
div.bblack, bblack, div.bnoir, bnoir {
  color:black;
}

div.bred, bred, div.brouge, brouge,
div.bblue, bblue, div.bbleu, bbleu,
div.bpurple, bpurple, div.bviolet, bviolet,
div.bgreen, bgreen, div.bvert, bvert,
div.bgrey, bgrey, div.bgris, bgris,
div.bblack, bblack, div.bnoir, bnoir {
  font-weight: 700;
}

div.light, light, div.leger, leger {
  opacity: 0.5;
}


/* TABLEAUX THEME CLAIR : PAR DÉFAUT*/

.clair table:not(code table),
table:not(code table) {
  display: inline-block !important;
  width: auto !important;
  box-shadow: 7px 7px 7px;
  border: solid 1.6px var(--bordure-claire);
}

.clair table th:not(code table th),
table th:not(code table th) {
  background-color: #b2d5ec;
  border: solid 1.6px var(--bordure-claire);
  /* color: inherit !important; // pour Réponses en rouge */
}

.clair table tr:nth-child(odd),
table tr:nth-child(odd):not(code table tr) {
  background-color: #e3f0f8;
}

.clair table tr:nth-child(even),
table tr:nth-child(even):not(code table tr) {
  background-color: #ffffff;
  border: solid 1.6px var(--bordure-claire);
}

.clair table td,
table td:not(code table td) {
  white-space: nowrap;
  border: solid 1.6px var(--bordure-claire);
}

.clair table code,
table code:not(code table code) {
  background-color: #CCC !important;
}

/* TABLEAUX THEME SOMBRE*/

.sombre table:not(code table) {
  display: inline-block !important;
  width: auto !important;
  box-shadow: 7px 7px 7px;
  border: solid 1.6px var(--bordure-sombre);
}

.sombre table th:not(code table th) {
  background-color: #0081d6;
  border: solid 1.6px var(--bordure-sombre);
  /* color: inherit !important; // pour Réponses en rouge */
}

.sombre table tr:nth-child(odd):not(code table tr) {
  background-color: rgb(92, 177, 235);
}

.sombre table tr:nth-child(even):not(code table tr) {
  background-color: rgba(172, 172, 172, 0.67);
  /* color: #fff; */
  border: solid 1.6px var(--bordure-sombre);
}

.sombre table td:not(code table td) {
  white-space: nowrap;
  border: solid 1.6px var(--bordure-sombre);
}

.sombre table code:not(code table code) {
  background-color: #CCC !important;
}

