#boite1 {
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size: 120px;
    text-align: center;
    line-height: 250px;
    background-color: red;

}

#boite1:active {
    /* super Propriété animation */
    animation: 3s linear 0s infinite running monAnimation;
    /* Ordre:  duration, timing-function, delay, iteration-count, play-state, name */
}


/* 1°) Définition de l'Animation */
@keyframes monAnimation {  /* nom Unique */
    from {margin-left:0%;} /* Valeurs de Propriétés Initiales */
    to {margin-left:100%;}   /* Valeurs de Propriétés Finales */
    
}