/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #f1f1f1;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.sousmenu-icon {
    color: #111;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.menu {
    background-color: darkslateblue;
}

.sousmenu {
    border: 1px solid #ccc;
}

.menu li {
    padding: 10px;
}

.menu-icon {
    color: white;
    margin-left: 10px;
    font-size: 14px;
}

/* Flexbox rules */
.menu {
    display: flex;
    align-items: center;
    text-align: center;
    width: 90vw;
    margin: 10px 5vw;
    height: 60px;
    position: relative;
}

.menu-item {
    flex: 1;
}

.menu-item>a {
    line-height: 40px;
}

.sousmenu {
    width: 90vw;
    position: absolute;
    top: 60px;
    left: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.sousmenu-item {
    padding: 15px;
}

.sousmenu-top {
    display: flex;
    justify-content: space-around;
}

.sousmenu-bottom {
    display: flex;
}

.sousmenu-bottom-item {
    flex: 1;
}

/* sousmenu general styling */
.sousmenu-top li {
    padding-left: 0;
}

.sousmenu a {
    color: #111;
}

.sousmenu-top-item {
    max-width: 33.333%;
}

.sousmenu .sousmenu-title {
    font-weight: bold;
    color: darkslateblue;
}

.sousmenu .sousmenu-title:hover {
    text-decoration: none;
}

.sousmenu-list,
.sousmenu-bottom {
    margin-top: 10px;
}

/* sousmenu: Thumbnail list */
.thumb-list .sousmenu-list>li {
    display: flex;
    align-items: center;
}

.sousmenu-thumbnail {
    margin-right: 10px;
}

/* sousmenu: Description list */
.desc-list .sousmenu-list>li {
    display: flex;
    flex-direction: column;
}

.sousmenu-desc {
    margin-top: 10px;
    color: #555;
}

/* sousmenu: Icon list */
.sousmenu-icon {
    width: 32px;
}

/* sousmenu bottom */
.sousmenu-bottom-title {
    padding-left: 10px;
}

.sousmenu-bottom figcaption {
    margin-top: 5px;
    font-weight: bold;
}

.sousmenu-bottom a:hover {
    text-decoration: none;
}

/* Hover rule */
.sousmenu {
    display: none;
}

.menu-item:hover .sousmenu {
    display: flex;
}

.menu-item:hover>a {
    text-decoration: underline;
}