#boite1 {
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size: 120px;
    text-align: center;
    line-height: 250px;
    background-color: red;

    /* super Propriété animation */
    animation: 3s ease 0s infinite running maRotation;
    /* animation: 3s ease 0s infinite running monOpacite; */
    /* animation: 3s ease 0s infinite running monEchelle; */
    /* animation: 3s ease 0s infinite running mesChangementsCouleurs; */
    /* Ordre:  duration, timing-function, delay, iteration-count, play-state, name */
}

/* 1°) Définition de l'Animation */
@keyframes maRotation {  /* nom Unique */
    /* Valeurs de Propriétés à 100% de l'Animation */
    /* 100% { transform: rotateX(360deg); }  */
    /* 100% { transform: rotateY(360deg); } */
    100% { transform: rotateZ(360deg); }
}

@keyframes monOpacite {  /* nom Unique */
    /* Valeurs de Propriétés à 100% de l'Animation */
    /* 100% { opacity: 0; } */
    /* Valeurs de Propriétés à 50% de l'Animation, PUIS retour vers état initial */
    50% { opacity: 0; }
}

@keyframes monEchelle {  /* nom Unique */
    /* Valeurs de Propriétés à 100% de l'Animation */
    /* 100% { opacity: 0; } */
    /* Valeurs de Propriétés à 50% de l'Animation, PUIS retour vers état initial */
    50% { transform: scale(0.5, 0.5); }
}

@keyframes mesChangementsCouleurs {  /* nom Unique */
    /* Valeurs de Propriétés à 100% de l'Animation */
    /* 0% { background-color: red; } */ /* facultatif: même rendu */
    20% { background-color: orange; }
    40% { background-color: yellow; }
    60% { background-color: green; }
    80% { background-color: blue; }
    100% { background-color: purple; }
}

