#highlight {
    position:absolute;
    background-color:lightcoral;
    opacity: 1.0;
    color: black;
    weight: bold;
    /* width:315px; */
    width: fit-content;
    height: 35px;
    padding: 3px;
    /* margin-top:0px; */
    top: 79px;
    left: 62px;
}

#explanation1 {
    background-color:lightcoral;
    opacity: 1.0;
    color: black;
    weight: bold;
    position:absolute;
    width: 315px;
    height: 35px;
    /*          padding: 3px;
              margin-top:0px;*/
    top: 79px;
    left: 62px;
}

.cell {
    position:absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    top: 40px;
    border-width: 2px;
    border: 1px black solid;
    background-color: white;
    text-align: center;
    display:inline;
}

.cell1 {
    display:inline;
}

div.inline { float:left; }

.clearBoth { clear:both; }

.button {
    display: inline-block;
    margin-bottom: 0px; 
    margin-top: 0px;
    padding: 0 0.5em;
    border-bottom: 2px solid var(--env-border-color);
    border-right: 2px solid var(--env-border-color);
    border-radius: 7px;
    font-weight: 700;
    /* background-color: #37826c;  */
    /* color:white; */
    /*    width: 70px;
        height: 30px;*/
    /* color:#fff; */
    font-size: 1.2em;
    background: #3070a8;
}

input#value {
    display:inline-block;
    /* background-color: rgba(220,220,220,0.6); */
    background-color: var(--env-background-color);
    border-radius: 7px;
    padding: 0 0.5em;
    border-bottom: 2px solid var(--env-border-color);
    border-right: 2px solid var(--env-border-color);
    font-weight: 700;
    /* background-color: var(--env-background-color);
    box-shadow: 2px 2px 4px var(--env-border-color); */
}

