#boite1 {
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size: 120px;
    text-align: center;
    line-height: 250px;
    background-color: red;

    /* 2°) Appliquer l'animation pré-définie */
    /* Par Propriétés Séparées */
    animation: monAnimation;        /* nom de l'animation à appliquer */
    animation-duration: 3s;         /* durée de l'animation */
    animation-timing-function: ease; /* fonction de répartition temporelle de l'animation */ 
    /* Valeurs : linear; ease-in; ease-out; ease; ou perso avec 'cubic-bezier' : https://cubic-bezier.com */
    /* animation-timing-function: cubic-bezier(0,1.03,1,.53); */
    animation-delay: 0s;             /* délai AVANT QU'ELLE SOIT LANCÉE */
    animation-iteration-count: infinite; /* nombre de fois que l'animation est répétée : 1, 2, 3,.., infinite */
    animation-play-state: running;         /* état de l'animation : par défaut 'running'. Autres valeurs: paused */

    /* super Propriété animation */
    /* animation: 3s linear 0s infinite running monAnimation; */
    /* Ordre:  duration, timing-function, delay, iteration-count, play-state, name */
}

/* 1°) Définition de l'Animation */
@keyframes monAnimation {  /* nom Unique */
    from {margin-left:100%;} /* Valeurs de Propriétés Initiales */
    to {margin-left:0%;}   /* Valeurs de Propriétés Finales */
    
}