#boite1 {
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size: 120px;
    text-align: center;
    line-height: 250px;
    background-color: red;
  
    /* Propriétés Séparées */
    transition-duration: 2s;
    transition-property: transform;
    /* Transition de PLUSIEURS PROPRIETES */
    /* transition-property: transform background-color; */
    transition-timing-function: ease;
    /* Valeurs Possibles : linear; ease-in; ease-out; ease-in-out; ease; 
    ou personnalisée avec 'cubic-bezier'. Cf https://cubic-bezier.com */
    transition-delay: 0s;


}

#boite1:hover {
    background-color:greenyellow;
    transform: rotate(45deg);

}